<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostName" value="localhost"/>
    <add key="HostPort" value="2020"/>
    <add key="SvrCHL" value="CHL.svr"/>
    <add key="CCSID" value="1381"/>
    <add key="MQName" value="MQtrans"/>
    
    <add key="RecvQueue" value="lqqRecv"/>
    <add key="RecvFolder" value="D:\\CustomsPortExchangeFile\\customsTOport\\RECV"/>

    <add key="SendQueue" value="QRlist"/>
    <add key="SendFolder" value="D:\\CustomsPortExchangeFile\\customsTOport"/>
  </appSettings>
</configuration>